body {
  /* height: 100vh;
  width: 100vw;
  box-sizing: border-box; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF3F8;
  background-image: url('./assets/shared/desktop/bg-pattern-circle.svg');
  background-repeat: no-repeat;
  background-position: top -250px  right -200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
